*{  margin: 0;  padding: 0; box-sizing: border-box; }

html{    scroll-behavior: smooth;   }

.container-inner{   max-width: 1440px;  margin: auto;   padding: 0 10px;    }

/* Pre defined values */
:root{

    /* Colors */
    --primary-color: #313638;
    --btn-color: #6733ff;
    --medium-gray: #73777a;
    --black: black;
    --white: white;
    --light-gray: #dfe3e5;
    --light-lime: #def296;
    --bg-violet: #f8f7ff;
    --green: #1cb03b;
    --red: #f2461b;
    --yellow: #f5c345;
    --lime: #a9cc0e;
    --blue: #1c8aff;
    --bg-gray: #f6f8fa;
    --dark-violet: #202080;
    --dark-gray: #3f4245;
    --light-violet: #c7baff;
    --dark-yellow: #bd6604;
    --dark-lime: #4b7000;
    --dark-red: #8a2511;
    --bg-yellow: #fff9e3;
    --bg-lime: #f6fde4;
    --dark-blue: #003175;
    --light-red: #ffdac4;
    --light-blue: #87d9ff;
    --bg-red: #fff5f1;
    --dark-green: #0e612c;
    --light-green: #c3f7c9;
    --bg-green: #f0fdf2;
    --bg-blue: #f2faff;
    --light-yellow: #ffe48c;
    --transparent: #0000;

    /* fonts */
    --primary-font: monospace, sans-serif;
    --paragraph-font: poppins, sans-serif;
    --mainheading-font: serif; 

}
a{  color: inherit !important;  text-decoration: none !important;   }
body,p,a{  font-size: clamp(14px, 1vw, 18px) !important;    }
.btn{   background: var(--btn-color) !important;    color: white !important;    padding: 10px 15px;    border-radius: 10px;   }
.fa{    color: var(--btn-color);    }
.btn{   letter-spacing: 2px;    }

h1{ font-family: ibm plex serif;    font-size: clamp(35px, 5vw, 80px) !important;  font-weight: 400 !important; }
h2{ font-size: clamp( 25px, 3vw, 50px) !important; font-family: ibm plex serif;   margin-bottom: 20px !important;    }
h3{ font-weight: 400 !important;    font-size: clamp( 18px, 2vw, 22px) !important;  }
h4{ text-transform: uppercase;  font-size: clamp( 14px, 2vw, 18px) !important;   letter-spacing: 5px;   font-family: var(--primary-font) !important;   font-weight: 600 !important; }


/* Header Styles */
    .header-elements{   font-family: var(--primary-font);    min-height: fit-content !important;    }
    .d-nav a{   padding: 25px 15px; letter-spacing: 2px;    display: inline-block;}
    .d-nav a:hover, .login:hover{ background: #f8f7ff;    }
    .logo img{  max-width: 175px;   width: 100%;    }

    /* hidden-nav */
        .hidden-nav{   position: absolute;    top: 70px; left: 0;   }
        .hidden-nav a{  display: block; padding: 15px 15px 10px;    transition: 1s ease;    }
        .hidden-nav a:hover{    letter-spacing: 3px;    transition: 1s ease;    font-weight: 600;}

/* main */
    .mod-btn{   height: fit-content !important; color: var(--btn-color) !important;   line-height: 1rem !important;    text-transform: uppercase !important;    width: max-content !important;  }
    .mod-btn a{ display: inline-block !important;   padding-bottom: 5px;    font-family: monospace; letter-spacing: 2px;    }
    .mod-btn.border-bottom{ border-color: var(--btn-color) !important;  border-width: 1.5px !important; }

    /* intro */    
        .intro-btns .fas{   font-size: 20px !important; vertical-align: middle; }

        .pills [class *= pill]{ padding: 5px 20px;  border-radius: 50px;    width: fit-content; text-transform: uppercase; font-weight: 500;   letter-spacing: 2px; box-shadow: inset 0 2px 5px 40px #0000,0 1px 24px #00000026;    }
        .dr-pill{   color: var(--dark-red); background-color: var(--bg-red);    border:  1px solid var(--dark-red);   inset: 100px auto auto 20px;  }
        .sb-pill{   color: var(--blue);   background: var(--bg-blue); border: 1px solid var(--blue);    inset: 45px auto auto 40px;}
        .dg-pill{   color: var(--dark-green);   background: var(--bg-green);    border: 1px solid var(--dark-green);  inset: -15px auto auto 120px; }
        .dy-pill{   color: var(--dark-yellow);  background: var(--bg-yellow);   border: 1px solid var(--dark-yellow); inset: 350px auto auto 400px; }
        .lm-pill{   color: var(--dark-lime);    background: var(--bg-lime); border: 1px solid var(--dark-lime); inset: 400px auto auto 310px;   }

        .pills [class *= pill], .light, .clap-pad{  position: absolute; } 
        .light img{  max-width: 175px;   }
        .clap-pad img{  max-width: 140px;   }
        .light{ inset: 250px auto auto -2.5px;    }
        .clap-pad{  inset: 10px auto auto 510px;   z-index: -1;}


        .slider{    width: fit-content; margin: auto;   }
        .slider img{    max-width: 450px;   }

    /* testimonials */
        .testimonials .row{ justify-content: space-between; align-content: space-between;   }
        .testimonials .col-3{   padding: 45px !important;   flex: 1 1 30%;  margin: 10px; background: var(--bg-gray);   animation-delay: 1s;    animation: appear 0.8s forwards; display: flex;    flex-direction: column; gap: 20px;  justify-content: space-between;  }
        .testimonials .col-3 img{   margin-bottom: 20px;    max-width: 150px;   }
        .testimonials .feedback p{      }
        .testimonials .name{    margin-bottom: 0 !important;       }

        @keyframes appear {
            from {  opacity: 0; transform: translateY(30px) scale(0.9); }
            to {    opacity: 1; transform: translateY(0) scale(1);  }
        }

    /* team */
    .team .col-2{   height: 220px;  width: 20%;    }
    .team img{  background: #bebebe;    width: 100%;    height: 100%;   object-fit: cover;  }
    .team .expert-details{  color: var(--white);    background-color: #202080cc;    flex-direction: column;  justify-content: space-between;    width: 100%;    height: 100%;   padding: 10%;   transition: opacity .3s cubic-bezier(.165,.84,.44,1);   position: absolute; inset: 0%;  display: flex;  }


/* Responsive */
